<section  class="row justify-content-center">
    <div class="col col-10">
        Nach Epoche filtern:
        <div class="btn-group btn-group-sm" role="group" aria-label="filter by era filter">
            {% for era in site.data.era %}
            <a class="btn btn-primary" href="{{ page.dir }}{{era.era-short}}" role="button">{{ era.name }}</a>
            {% endfor %}
        </div>
    </div>
</section>
