<header class="container-fluid p-0 border-bottom border-3 border-bottom--dark-red">
    <!-- top row -->
    <div class="row m-0 align-items-start bg-dark w-100">
        <nav class="navbar navbar-dark justify-content-start p-0">
            <div class="col-4">
                <button id="menu-btn" class="navbar-toggler ms-2 p-0" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-controls="main-nav search" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon filter-dutch-white"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" fill="#fff3cd">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                    </svg>
                </button>
            </div>
            <div id="search" class="navbar navbar-dark col col-4 my-auto inline-block">
                {% include text_filter.html %} <!-- display: none; -->   
            </div>
            <!-- collapsed search bar-->
            <div id="page-title" class="navbar navbar-dark col col-4 justify-content-end pe-3">
                <h1 class="invert border-start ps-3 m-0 d-inline-block text-truncate">{{ page.title }}</h1>
            </div>
        </nav>
    </div>
    <!-- bottom row. visible on expand -->
    <div id="main-nav" class="row m-0 align-items-start bg-dark">
        <nav>
            <!-- collapsed menu items-->
            <div class="collapse multi-collapse collapse-horizontal invert ms-1 ps-2 border-start">
                <ul class="list-group-horizontal-lg">
                    {% for mi in site.data.menu %}
                    {% unless mi.disabled %}
                    <li class="list-group-item"><a class="btn btn-lg nav-item p-0" href="/{{ mi.href }}"><h1 class="invert m-0">{{ mi.text}}</h1></a></li>
                    &nbsp;
                    {% endunless %}
                    {% endfor %}
                </ul>
            </div>
        </nav>    
    </div>
</header>