<title>{{ page.title }} | hammeley.info</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="freiheit, {{page.tags}}">
<meta name="description" content="{{ page.title }} | hammeley.info">
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="googlebot" content="noindex, nofollow, noarchive" />

<link rel="icon" type="image/png" href="/assets/images/h.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="512x512">

<link rel="preconnect" href="https://fonts.googleapis.com" defer>
<link rel="preconnect" href="https://fonts.gstatic.com" defer crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,400&display=swap" defer>

<!-- TODO: upload new version <link rel="stylesheet" href="/styles/bootstrap.min.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- TODO: unify lite hmmly css -->
<link rel="stylesheet" href="/styles/lite-yt-embed.css"/>
<link rel="stylesheet" href="/styles/style.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- TODO: import bootstrap as module -->
<script type="module" src="/scripts/hmmly.js"></script>
