<hmmly-playlist id="{{page.playlist_id}}-playlist" data-receiver="{{page.playlist_id}}-ctrl">
    {% assign playlists = site.data.playlists %}
    {% assign music = site.data.music.content %}
    {% if page.playlist_id %}
    {% assign playlist = playlists.content |  find: "id", {{page.playlist_id}} %}
    
    <h2>Wiedergabeliste "{{playlist.title}}" ({{playlist.id}})</h2>
    <small>Diese und andere Wiedergabelisten sind auch im <a href="https://hammeley.info/data/playlists.json">Json-Format verfügbar.</a></small>
    
    {% for track in playlist.content %}
    {% assign media = music | find: "id", {{track.id}} %}
    {% if media.ntk %}
    <div class="mb-2">
        <h4 class="hmmly_link" type="button" id="{{media.id}}" data-receiver="{{page.playlist_id}}-ctrl">{{forloop.index}}. {{media.artist}} - {{media.title}} ({{ media.date | date: "%d.%m.%Y" }})</h4>
        <small class="ps-4">{{media.ntk}}</small>
    </div>
    {% else %}
    <div>
        <h4 class="hmmly_link" type="button" id="{{media.id}}" data-receiver="{{page.playlist_id}}-ctrl">{{forloop.index}}. {{media.artist}} - {{media.title}} ({{ media.date | date: "%d.%m.%Y" }})</h4>
    </div>
    {% endif %}
    {% endfor %}
    {% else %} <!-- no playlist -->
    <div class="alert alert-primary" role="alert">
        Wenn diese Meldung erscheint, hat der Seitenbetreiber keine playlist_id im Template für diese Seite angegeben.
    </div>
    {% endif %}
</hmmly-playlist>