<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <section class="searchable row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>