<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <ul style="list-style-type: none">
                        {% for entry in site.data.glossary %}
                        <li><a href="{{ entry.descrption_link }}">{{ entry.word }}</a>{% if entry.trend_link %} <a href="{{ entry.trend_link }}">[trend] </a> {% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>
