<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->

        </aside>
        <article class="container-fluid">
            {% for post in site.posts %}
            {% unless post.hidden == true %}
            <section class="searchable row justify-content-center" data-tags="{{post.tags}}">
                <div class="col col-md-12 col-lg-10">
                    <time>{{ post.date | date_to_long_string }}</time>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <!-- abstract / content_top -->
                    {% if page.content_top %}
                        {{ page.content_top | markdownify }}
                    {% endif %}
                    
                    <!-- video player -->
                    {% if page.playlist_id %}
                    <!-- player: not always rendered on index -->
                    <section class="searchable row justify-content-center">   
                        <div class="col col-md-12 col-lg-10">
                            <hmmly-ctrl id="{{page.playlist_id}}" playlist_id="{{page.playlist_id}}" data-provider="{{page.data}}"></hmmly-ctrl>                            <!-- content video notes-->
                            {% if page.content_video_notes %}
                            <small id="ntk">{{ page.content_video_notes | markdownify }}</small>
                            {% endif %}
                        </div>
                    </section>
                    {% endif %}
                    <!-- content excerpt -->
                    {% if post.content contains site.excerpt_separator %}
                        {{ post.excerpt }}
                        <a href="{{ post.url }}">mehr..</a>
                    {% else %}
                        {{ post.content }} 
                    {% endif %}   
                </div>
            </section>
            {% endunless %}
            {% endfor %}
        </article>
        {% include footer.html %}
    </body>
</html>