<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}

        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        
        <article class="container-fluid">
            <!-- top content -->
            {% if page.content_top %}
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                {{ page.content_top | markdownify }}
                </div>
            </section>
            {% endif %}
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    <div class="alert alert-success" role="alert">
                        Sollte eine Wiedergabeliste oder ein Video nicht starten, mehrmals probieren (neu laden) oder auf youtube ansehen (link über Wiedergabeliste).
                    </div>
                </div>
            </section>
              
            {% assign playlists = site.data.media.playlists.content %}
            {% assign music_catalogue = site.data.media.music.content %}
            {% assign media_catalogue = site.data.media.films.content | concat: music_catalogue %}
            <section class="row justify-content-center">
                <div class="col col-md-10 col-lg-10">
                    <div id="hmmlyCtrlCarousel" class="carousel"> <!--  data-bs-ride="carousel"  no auto slide-->
                        <div class="carousel-inner">
                            {% for playlist in playlists %}   
                            {% unless playlist.disabled %}                             
                            {% if forloop.first %}
                            <div class="active carousel-item">  <!-- class active-->
                            {% else %}
                            <div class="carousel-item">  <!-- class inactive slide -->
                            {% endif %}
                                <div class="row">
                                    <div class="col col-1"> 
                                        <button style="height: 2rem; width: inherit" class="carousel-control-prev" type="button" data-bs-target="#hmmlyCtrlCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Vorherige</span>
                                        </button>
                                        </div>
                                    <div class="col col-8">
                                        <h3>{{playlist.title}}</h3>
                                    </div>
                                    <div class="col col-1">  
                                        <button style="height: 2rem; width: inherit" class="carousel-control-next" type="button" data-bs-target="#hmmlyCtrlCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Nächste</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12"> 
                                        <hmmly-ctrl id="{{playlist.id}}" playlist_id="{{playlist.id}}"></hmmly-ctrl>
                                        <small>Alternativ, diese Wiedergabeliste im <a href="https://hammeley.info/data/playlists.json">Json-Format herunterladen</a>{% if playlist.youtube_list_id %} oder auf <a href="{{playlist.youtube_list_id}}&origin=https://hammeley.info/bild-und-ton">youtube</a> ansehen{%endif %}.</small>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col col-12">
                                        <hmmly-playlist id="{{playlist.id}}" class="searchable" data-receiver="{{playlist.id}}-ctrl">             
                                            {% for track in playlist.content %}
                                            {% unless playlist.disabled %}     
                                            {% assign media = media_catalogue | find: "id", track.id %}
                                            <div id="{{media.id}}">
                                                <h4 class="hmmly_link" type="button" id="{{media.id}}" data-receiver="{{playlist.id}}-ctrl">{{forloop.index}}. {{media.artist}} - {{media.title}} ({{ media.date | date: "%d.%m.%Y" }})</h4>
                                                {% if media.ntk %}
                                                <small class="ps-4">{{media.ntk}}</small>
                                                {% endif %}
                                            </div>
                                            {% endunless %}
                                            {% endfor %} <!--  for track in playlist.content -->
                                        </hmmly-playlist>
                                    </div>
                                </div>
                            </div>
                            {% endunless %}
                            {% endfor %}
                        </div>                       
                    </div>       
                </div>          
            </section>

            <!-- static content -->
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                    <!-- more -->
                </div>
            </section>

            <!-- content post scriptum -->
            {% if page.content_bottom %}
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    <!-- content declared in front matter. may contain markdown formatting. -->
                    {{ page.content_bottom | markdownify }}
                </div>
            </section>
            {% endif %}
        </article>
        {% include footer.html %}
    </body>
</html>