<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}

        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <!-- static content -->
            <section class="searchable row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                </div>
            </section>
            <section class="vid row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <div class="ratio ratio-16x9 me-1">
                        {% include hmmly_ctrl.html %}
                    </div>
                </div>
            </section>
            <section class="playlist row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {% include hmmly_playlist.html %}
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>
