<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                {{ content }}
                </div>
            </section>
            <section id="referenzen" class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {% assign sorted = site.data.testimonials | sort: 'date' | reverse %}
                    <h3>Referenzen</h3>
                    {% for testimonial in sorted %}
                    <div class="col col-12 mb-3">   
                        <time>{{ testimonial.date | date_to_long_string }}</time>
                        <h3 class="m-0">"{{ testimonial.quote }}"</h3> 
                        <b>{{ testimonial.author }}</b> <br/>
                        <small><a href="{{ testimonial.reference }}">Archiv</a> | <a href="{{ testimonial.original }}">Quelle</a></small>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>
