<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
        <hmmly-data id="common_data" src="music,films"></hmmly-data>
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            {% assign era = site.data.era | find: 'era-short', page.era-short %}
            {% assign eras = site.data.era | sort: 'date' %}
            
            {% for era in eras %}
            {% assign eid = forloop.index %}
            <section class="searchable row justify-content-center mb-5">
                <div class="col col-md-12 col-lg-10">
                    <h3>
                        <a data-bs-toggle="collapse" href="#collapse-{{ eid }}" role="button" aria-expanded="false" aria-controls="collapse-{{ eid }}">
                            {{ era.start | date: '%d.%m.%Y' }} - {{ era.end | date: '%d.%m.%Y' }} | {{ era.name }}
                        </a>
                    </h3>
                    <a href="/bild-und-ton/{{ era.era-short }}">Filme und Musik</a> | <a href="/weltgeschehen/{{ era.era-short }}">Weltgeschehen</a>
                    <p>{{ era.description }}</p>
                   
                    <div class="row collapse" id="collapse-{{ eid }}">
                        {% assign media = era.media %}
                        {% include hmmly_ctrl.html %}
                    </div>
                </div>
            </section> 
            {% endfor %}
        </article>
        {% include footer.html %}
    </body>
</html>